#canvas-svg {
  margin-left: 6%;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

.country {
  stroke: white;
  stroke-width: 1px;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
}

.axis text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.svg-legend {
  margin-top: -100%;
  margin-left: 10%;
}

.informativeText {
  font-size: 13px;
  font-weight: 600;
  margin-left: 70%;
}